body {
    margin: 0;
}

.DefaultLayout {
    position: sticky;
    nav {
        ul{
            display: flex;
            justify-content: flex-start;
            list-style-type: none;
            padding: 0;
            margin: 0;
            background-color: rgb(253, 237, 250);

            li {
                padding: 15px;

                color: black;
                a {
                    text-decoration: none;
                    font-size: 700;
                    transition: .2s;

                    &:hover {
                        opacity: .5;
                    }

                    &.active {
                        color: red;
                    }
                    
                }
            }
        }
    }
}